In [3]:
import os
import cx_Oracle
import time
import requests
import numpy as np 
import pandas as pd
from bs4 import BeautifulSoup
URL = "http://ticket2.movie.daum.net/Movie/MovieRankList.aspx"
res = requests.get(URL)
soup = BeautifulSoup(res.content, 'lxml')
box = soup.find_all('div', class_="desc_boxthumb")
# count = 0
data = []
for movie in box:  
    title, ranking = movie.find('strong', class_="tit_join"), movie.find('em', class_="emph_grade")
    movie, grade = title.get_text().strip(), ranking.get_text().strip()
    # print(movie, grade)
    list2 = [movie, grade] #movie, grade를 list(이름,평점)로 가진 형태로 만듦
    data.append([movie,grade]) #data에 list2의 모든데이터를 가지고 있는 리스 형태로 변환

df = pd.DataFrame(data, columns = ['title','rating'])
df['rating'] = df['rating'].astype(float)
df

               title  rating
0               언더워터     5.9
1          프리즌 이스케이프     7.4
2             위대한 쇼맨     8.9
3            카페 벨에포크     9.0
4            미스비헤이비어     8.4
5                 그집     5.5
6            초미의 관심사     8.0
7              더 플랫폼     6.8
8        패왕별희 디 오리지널     9.3
9          트롤: 월드 투어     8.5
10             아홉 스님     6.8
11            날씨의 아이     6.7
12  킬러의 보디가드 무삭제 특별판     7.3
13               톰보이     8.2
14        조금씩，천천히 안녕     6.2
15      루팡 3세: 더 퍼스트     8.7
16       레이니 데이 인 뉴욕     6.2
17       레미: 집 없는 아이     8.4
18              나는보리     8.6
19             싸커 퀸즈     8.0

In [5]:
df.dtypes

title      object
rating    float64
dtype: object

In [6]:
df['rating'].mean()

7.639999999999999