In [1]:
import os
import cx_Oracle
import time
import requests
import numpy as np 
import pandas as pd

df3 = pd.DataFrame(np.random.randn(6,3), columns = ['col1','col2','col3'])
df3

       col1      col2      col3
0  1.215519 -0.288546  0.144763
1  0.022531 -0.399374  2.166362
2 -0.288615 -1.019099  0.675051
3 -1.900320  0.246929  0.160316
4 -2.073938 -1.734509  0.403992
5 -0.032464 -0.078702 -0.006338

In [4]:
df4 = df3.rename(index = {0:100,1:200}, columns = {'col1':'one','col2':'two'})
df4

          one       two      col3
100  1.215519 -0.288546  0.144763
200  0.022531 -0.399374  2.166362
2   -0.288615 -1.019099  0.675051
3   -1.900320  0.246929  0.160316
4   -2.073938 -1.734509  0.403992
5   -0.032464 -0.078702 -0.006338