In [6]:
import os
import cx_Oracle
import time
import requests
import numpy as np 
import pandas as pd

df = pd.DataFrame(np.random.randn(6,4), index = ['a','b','c','d','e','f'], columns = ['col1','col2','col3','col4'])
df
df.loc[['a','e'],['col1','col3']]

       col1      col3
a  0.356982 -1.625629
b -1.217424 -0.341420
c  1.132267 -1.633345
d  1.004004 -2.526894
e -0.062400 -0.420679

In [9]:
df.loc['a':'e',['col1','col3']]

       col1      col3
a  0.356982 -1.625629
b -1.217424 -0.341420
c  1.132267 -1.633345
d  1.004004 -2.526894
e -0.062400 -0.420679

In [10]:
df.loc['a':'e','col2':'col4']

       col2      col3      col4
a -0.621788 -1.625629  0.669162
b -0.131241 -0.341420  1.147826
c  0.968376 -1.633345  1.664703
d  0.404448 -2.526894 -0.228151
e -0.619023 -0.420679 -2.012408

In [11]:
df.loc['a']>0

col1     True
col2    False
col3    False
col4     True
Name: a, dtype: bool

In [12]:
df.iloc[0:2,0:2]

       col1      col2
a  0.356982 -0.621788
b -1.217424 -0.131241

In [13]:
df.iloc[1:3,1:2]

       col2
b -0.131241
c  0.968376

In [14]:
df['col1'][:2]

a    0.356982
b   -1.217424
Name: col1, dtype: float64