In [6]:
import numpy as np
import pandas as pd

data = {'name': pd.Series(['강감찬','이순신','홍길동','이슬기','권보라','한정아','조수영','김민재']),
        'age' : pd.Series([20,30,40,50,60,70,80,90]),
        'salary' : pd.Series([2000,3000,4000,400,500,300,200,300])}

df = pd.DataFrame(data)
df

  name  age  salary
0  강감찬   20    2000
1  이순신   30    3000
2  홍길동   40    4000

In [8]:
df.shape #df.ndim

(3, 3)

In [18]:
df.sum(1)
df.mean()
df.std()
df.count()
df.median()
df.min()
df.max()
df.describe()

        age  salary
count   3.0     3.0
mean   30.0  3000.0
std    10.0  1000.0
min    20.0  2000.0
25%    25.0  2500.0
50%    30.0  3000.0
75%    35.0  3500.0
max    40.0  4000.0