In [12]:
import numpy as np 
import pandas as pd
#!pip install xlrd

df2 = pd.read_excel('score.xlsx',encoding='UTF-8',index_col = 0, header=0, sheet_name='Sheet2')
df2.stack().unstack()

Requirement already satisfied: xlrd in c:\python37\lib\site-packages (1.2.0)

     수학   과학
홍길동  10  100
이순신  30   80
강감찬  20   30
권율   90   40

In [24]:
df6 = pd.read_excel('score.xlsx',encoding='UTF-8',index_col = 0, header=[0,1], sheet_name='Sheet1')
df6

    1학기       2학기
     수학   과학   수학  과학
홍길동  10  100   20  30
이순신  30   80   40  50
강감찬  20   30   10  90
권율   90   40  100  90

In [25]:
df6.stack()

        1학기  2학기
홍길동 과학  100   30
    수학   10   20
이순신 과학   80   50
    수학   30   40
강감찬 과학   30   90
    수학   20   10
권율  과학   40   90
    수학   90  100

In [26]:
df6.stack(level=0) #[과학,수학]과 [1학기,2학기]를 바꿈

          과학   수학
홍길동 1학기  100   10
    2학기   30   20
이순신 1학기   80   30
    2학기   50   40
강감찬 1학기   30   20
    2학기   90   10
권율  1학기   40   90
    2학기   90  100

In [27]:
df6.stack(level=1)

        1학기  2학기
홍길동 과학  100   30
    수학   10   20
이순신 과학   80   50
    수학   30   40
강감찬 과학   30   90
    수학   20   10
권율  과학   40   90
    수학   90  100

In [28]:
df6.stack(level=1).unstack()

     1학기     2학기
      과학  수학  과학   수학
강감찬   30  20  90   10
권율    40  90  90  100
이순신   80  30  50   40
홍길동  100  10  30   20