In [3]:
import numpy as np 
import pandas as pd

left = pd.DataFrame({
    'id' : [1,2,3,4,5],
    'name' : ['a','b','c','d','e'],
    'subject_id' : ['sub1','sub2','sub3','sub4','sub5']
})

right = pd.DataFrame({
    'id' : [1,2,3,4,5],
    'name' : ['a1','b1','c1','d1','e1'],
    'subject_id' : ['sub2','sub4','sub6','sub1','sub5']
})

pd.merge(left, right, on="id")
pd.merge(left, right, on="subject_id", how= "right")

   id_x name_x subject_id  id_y name_y
0   1.0      a       sub1     4     d1
1   2.0      b       sub2     1     a1
2   4.0      d       sub4     2     b1
3   5.0      e       sub5     5     e1
4   NaN    NaN       sub6     3     c1