In [7]:
import numpy as np
import pandas as pd

# Table Wise Function 모든 테이블에 적용되기 때문에 이름이 이렇다
def adder(a,b):
    return a + b

ds = pd.Series([11,21,31,41,51])
ds
ds.pipe(adder,4) #함수적용

df = pd.DataFrame(np.random.rand(6,3), columns = ['col1','col2','col3'])
df

       col1      col2      col3
0  0.671734  0.551154  0.122033
1  0.113332  0.485831  0.278913
2  0.054189  0.194543  0.809197
3  0.598597  0.286809  0.818068
4  0.093944  0.742577  0.938312
5  0.656679  0.005737  0.494358

In [8]:
df.pipe(adder,5)

       col1      col2      col3
0  5.671734  5.551154  5.122033
1  5.113332  5.485831  5.278913
2  5.054189  5.194543  5.809197
3  5.598597  5.286809  5.818068
4  5.093944  5.742577  5.938312
5  5.656679  5.005737  5.494358

In [10]:
# Row or Column Wise Function
def myfunc(x):
    return x * x

ds.apply(myfunc) #행에 대해서 적용된다.
ds
df2 = pd.DataFrame([[1,2],[3,4]])
df2

   0  1
0  1  2
1  3  4

In [11]:
df2.apply(myfunc)

   0   1
0  1   4
1  9  16

In [12]:
f = lambda x: x*2
df2.apply(f)

   0  1
0  2  4
1  6  8