In [6]:
import numpy as np
import pandas as pd

data = pd.read_csv("C:\\Python37_Project\\20200603\\student.csv")

data

       sex  age  grade absence bloodtype  height  weight
0     male   20      2       N         O   157.1    52.3
1   female   24      2       Y         O   160.8    53.6
2     male   28      2       N         O   160.5    53.4
3     male   22      2       N        AB   159.0    52.2
4   female   23      2       N         O   160.9    53.1
..     ...  ...    ...     ...       ...     ...     ...
95  female   27      4       Y         A   154.9    63.2
96  female   27      1       N         O   156.7    73.6
97    male   23      3       Y         B   173.4    62.5
98    male   25      3       Y         O   167.7    74.6
99  female   28      3       N         A   179.3    71.9

[100 rows x 7 columns]

In [13]:

filter = data['sex'] == 'male'
df_male = data[filter]
filter2 = data['sex'] == 'female'
df_female = data[filter2]
df_male
df_female
data['bmi'] = data['weight'] / ((data['height']/100)*(data['height']/100))

data

       sex  age  grade absence bloodtype  height  weight        bmi
0     male   20      2       N         O   157.1    52.3  21.190896
1   female   24      2       Y         O   160.8    53.6  20.729685
2     male   28      2       N         O   160.5    53.4  20.729612
3     male   22      2       N        AB   159.0    52.2  20.647917
4   female   23      2       N         O   160.9    53.1  20.510792
..     ...  ...    ...     ...       ...     ...     ...        ...
95  female   27      4       Y         A   154.9    63.2  26.339907
96  female   27      1       N         O   156.7    73.6  29.973663
97    male   23      3       Y         B   173.4    62.5  20.786522
98    male   25      3       Y         O   167.7    74.6  26.526057
99  female   28      3       N         A   179.3    71.9  22.364970

[100 rows x 8 columns]