In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df_cctv = pd.read_csv("01. CCTV_in_Seoul.csv", encoding='utf-8',index_col=0) #ascii, euc-kr
df_cctv.head(5)

       소계  2013년도 이전  2014년  2015년  2016년
기관명
강남구  2780       1292    430    584    932
강동구   773        379     99    155    377
강북구   748        369    120    138    204
강서구   884        388    258    184     81
관악구  1496        846    260    390    613

In [33]:
df3 = pd.read_excel("01. population_in_Seoul.xls",header=2)
df3.columns
df4 = df3.loc[:,['자치구','계', '계.1', '계.2', '65세이상고령자']]
df4
# df3.columns
df_populate = df4.rename(columns={'자치구':'구별', '계':'인구수', '계.1':'한국인', '계.2':"외국인", '65세이상고령자':'고령자'})
df_populate = df_populate.drop([0])
df_populate = df_populate.drop([26])
df_populate
print(df_populate.head())
data_result = pd.merge(df_cctv, df_populate,on='구별')
data_result

구별       인구수       한국인      외국인      고령자
1  종로구  162820.0  153589.0   9231.0  25425.0
2   중구  133240.0  124312.0   8928.0  20764.0
3  용산구  244203.0  229456.0  14747.0  36231.0
4  성동구  311244.0  303380.0   7864.0  39997.0
5  광진구  372164.0  357211.0  14953.0  42214.0

,구별,소계,2013년도 이전,2014년,2015년,2016년,인구수,한국인,외국인,고령자
0,강남구,2780,1292,430,584,932,570500.0,565550.0,4950.0,63167.0
1,강동구,773,379,99,155,377,453233.0,449019.0,4214.0,54622.0
2,강북구,748,369,120,138,204,330192.0,326686.0,3506.0,54813.0
3,강서구,884,388,258,184,81,603772.0,597248.0,6524.0,72548.0
4,관악구,1496,846,260,390,613,525515.0,507203.0,18312.0,68082.0
5,광진구,707,573,78,53,174,372164.0,357211.0,14953.0,42214.0
6,구로구,1561,1142,173,246,323,447874.0,416487.0,31387.0,56833.0
7,금천구,1015,674,51,269,354,255082.0,236353.0,18729.0,32970.0
8,노원구,1265,542,57,451,516,569384.0,565565.0,3819.0,71941.0
9,도봉구,485,238,159,42,386,348646.0,346629.0,2017.0,51312.0
10,동대문구,1294,1070,23,198,579,369496.0,354079.0,15417.0,54173.0
11,동작구,1091,544,341,103,314,412520.0,400456.0,12064.0,56013.0
12,마포구,574,314,118,169,379,389649.0,378566.0,11083.0,48765.0
13,서대문구,962,844,50,68,292,327163.0,314982.0,12181.0,48161.0
14,서초구,1930,1406,157,336,398,450310.0,445994.0,4316.0,51733.0
15,성동구,1062,730,91,241,265,311244.0,303380.0,7864.0,39997.0
16,성북구,1464,1009,78,360,204,461260.0,449773.0,11487.0,64692.0
17,송파구,618,529,21,68,463,667483.0,660584.0,6899.0,72506.0
18,양천구,2034,1843,142,30,467,479978.0,475949.0,4029.0,52975.0
19,영등포구,904,495,214,195,373,402985.0,368072.0,34913.0,52413.0
20,용산구,1624,1368,218,112,398,244203.0,229456.0,14747.0,36231.0
21,은평구,1873,1138,224,278,468,494388.0,489943.0,4445.0,72334.0
22,종로구,1002,464,314,211,630,162820.0,153589.0,9231.0,25425.0
23,중구,671,413,190,72,348,133240.0,124312.0,8928.0,20764.0
24,중랑구,660,509,121,177,109,414503.0,409882.0,4621.0,56774.0