In [1]:
# p.147 - p.153

from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd

df = pd.read_csv("../data/03. best_sandwiches_list_chicago.csv", index_col = 0)
df.head()

   Rank  ...                                                URL
0     1  ...  http://www.chicagomag.com/Chicago-Magazine/Nov...
1     2  ...  http://www.chicagomag.com/Chicago-Magazine/Nov...
2     3  ...  http://www.chicagomag.com/Chicago-Magazine/Nov...
3     4  ...  http://www.chicagomag.com/Chicago-Magazine/Nov...
4     5  ...  http://www.chicagomag.com/Chicago-Magazine/Nov...

[5 rows x 4 columns]

In [2]:
df['URL'][0]

'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/'

In [4]:
html = urlopen(df['URL'][0])
soup_tmp = BeautifulSoup(html, "html.parser")
# soup_tmp : url에서 읽어온 html 전체 내용
print(soup_tmp.find('p','addy')) # p 태그의 addy 클래스를 가져온다.

<p class="addy">
<em>$10. 2109 W. Chicago Ave., 773-772-0406, <a href="http://www.theoldoaktap.com/">theoldoaktap.com</a></em></p>

In [5]:
price_tmp = soup_tmp.find('p','addy').get_text()
price_tmp

'\n$10. 2109 W. Chicago Ave., 773-772-0406, theoldoaktap.com'

In [6]:
price_tmp.split()

['$10.', '2109', 'W.', 'Chicago', 'Ave.,', '773-772-0406,', 'theoldoaktap.com']

In [8]:
price_tmp.split()[0][:-1]

'$10'

In [17]:
' '.join(price_tmp.split()[1:-2])

'2109 W. Chicago Ave.,'

In [18]:
price = []
address = []

for n in df.index[:3]:
    html = urlopen(df['URL'][n])
    soup_tmp = BeautifulSoup(html,'lxml')

    gettings = soup_tmp.find('p','addy').get_text()

    price.append(gettings.split()[0][:-1])
    address.append(' '.join(gettings.split()[1:-2]))

price

['$10', '$9', '$9.50']

In [19]:
address

['2109 W. Chicago Ave.,', '800 W. Randolph St.,', '445 N. Clark St.,']

In [22]:
from tqdm import tqdm_notebook

price = []
address = []

for n in tqdm_notebook(df.index):
    html = urlopen(df['URL'][n])
    soup_tmp = BeautifulSoup(html,'lxml')

    gettings = soup_tmp.find('p','addy').get_text()

    price.append(gettings.split()[0][:-1])
    address.append(' '.join(gettings.split()[1:-2]))

HBox(children=(FloatProgress(value=0.0, max=50.0), HTML(value='')))

In [24]:
len(df), len(price), len(address)

(50, 50, 50)

In [25]:
df['Price'] = price
df['Address'] = address
df

    Rank  ...                                Address
0      1  ...                  2109 W. Chicago Ave.,
1      2  ...                   800 W. Randolph St.,
2      3  ...                      445 N. Clark St.,
3      4  ...               914 Noyes St., Evanston,
4      5  ...                    825 W. Fulton Mkt.,
5      6  ...                          100 E. Walton
6      7  ...                   1639 S. Wabash Ave.,
7      8  ...                    2211 W. North Ave.,
8      9  ...                    3619 W. North Ave.,
9     10  ...                   3267 S. Halsted St.,
10    11  ...                  2537 N. Kedzie Blvd.,
11    12  ...                               Multiple
12    13  ...                      3124 N. Broadway,
13    14  ...                3455 N. Southport Ave.,
14    15  ...                   2657 N. Kedzie Ave.,
15    16  ...                    1120 W. Grand Ave.,
16    17  ...                 1141 S. Jefferson St.,
17    18  ...                     333 E. Benton Pl.,
18    19  ...                     1411 N. Wells St.,
19    20  ...                    1747 N. Damen Ave.,
20    21  ...                    3209 W. Irving Park
21    22  ...                               Multiple
22    23  ...                     5347 N. Clark St.,
23    24  ...               2954 W. Irving Park Rd.,
24    25  ...                               Multiple
25    26  ...  191 Skokie Valley Rd., Highland Park,
26    27  ...                               Multiple
27    28  ...                   1818 W. Wilson Ave.,
28    29  ...                  2517 W. Division St.,
29    30  ...                          218 W. Kinzie
30    31  ...                               Multiple
31    32  ...                     1547 N. Wells St.,
32    33  ...                 415 N. Milwaukee Ave.,
33    34  ...                    1840 N. Damen Ave.,
34    35  ...                  1220 W. Webster Ave.,
35    36  ...                  5357 N. Ashland Ave.,
36    37  ...                 1834 W. Montrose Ave.,
37    38  ...                      615 N. State St.,
38    39  ...                               Multiple
39    40  ...             241 N. York Rd., Elmhurst,
40    41  ...                      1323 E. 57th St.,
41    42  ...          655 Forest Ave., Lake Forest,
42    43  ...      Hotel Lincoln, 1816 N. Clark St.,
43    44  ...           100 S. Marion St., Oak Park,
44    45  ...                  26 E. Congress Pkwy.,
45    46  ...                  2018 W. Chicago Ave.,
46    47  ...                    25 E. Delaware Pl.,
47    48  ...             416 N. York St., Elmhurst,
48    49  ...                  65 E. Washington St.,
49    50  ...                      3351 N. Broadway,

[50 rows x 6 columns]